@model int

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/animation.css" />
</head>
<body>
    <div class="container row pt-4">
        <div class="col-12 text-center">
            <h1 class="text-primary text-center">Order Placed Successfully!</h1>
            Your Order Number is: @Model <br /><br />
        </div>
        <div id="svgContainer"></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.2/lottie.min.js"></script>
    <script src="~/js/animation.js"></script>
</body>
</html>


